  
 <ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="changes">
      <ion-icon name="home"></ion-icon>
      <ion-label>Mudanças</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="favorites">
      <ion-icon name="people"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
        <ion-icon name="help"></ion-icon>
        <ion-label>Ajuda</ion-label>
      </ion-tab-button> 
 
</ion-tab-bar>
 
</ion-tabs>